In [2]:
import pandas as pd
import multiprocessing
from collections import Counter
import ast
import numpy as np
import pickle

train=pd.read_csv(r"route_coord.csv")
train['index1'] = train.index
train.shape

(1449431, 2)

In [ ]:

def count_coord(idx,x):
    

    #global coordinate_count
    x1=ast.literal_eval(x)
    x2=[ tuple(j) for j in x1]
    x3=Counter(x2)
    #coordinate_count=coordinate_count+x3
    if idx % 1000==0:
        print(str(idx)+" done")

    return x3

coordinate_count=Counter([])

def sum_counter(x):
    global coordinate_count
    coordinate_count+=x

In [ ]:
def chunker(seq, size):
    return (seq[pos:pos + size] for pos in range(0, len(seq), size))

if __name__ == '__main__': 
    #coordinate_count=Counter([])

    filenum=0
    for train1 in chunker(train,10000000):
        if filenum >=0:
            url1=train1[['index1','route_cooridnates']].values.tolist()
            urls=[ tuple(i) for i in url1]
            
            pool = multiprocessing.Pool(4)  # 4核CPU,该语句的作用可同时并行 4 个进程的进程池
            for x in urls:
            
                pool.apply_async(count_coord,x,callback=sum_counter)
                
            pool.close()
            print("pool done!")
            break



        filenum+=1

In [ ]:
route_count_df=pd.DataFrame(list(coordinate_count.items()), columns=['coordinates', 'count'])

In [ ]:
route_count_df.to_csv("route_coord_count.csv",index=False)

In [ ]:
len(coordinate_count)

In [ ]:
route_count_df.sort_values('count',ascending=0)

In [4]:


with open('Counter/Counter0.pickle', 'rb') as handle:
    a = pickle.load(handle)
with open('Counter/Counter1.pickle', 'rb') as handle:
    b = pickle.load(handle)

In [3]:
import pickle,glob
import pandas as pd
from collections import Counter

allFiles = glob.glob("Counter/*.pickle")
df = pd.DataFrame()
full=Counter([])
for file_ in allFiles:
    with open(file_, 'rb') as handle:
        a = pickle.load(handle)
    full=full+a

In [12]:
route_count_df=pd.DataFrame(list(full.items()), columns=['coordinates', 'count'])

In [22]:
route_count_df['longitude']=route_count_df['coordinates'].apply(lambda x: x[0])
route_count_df['latitude']=route_count_df['coordinates'].apply(lambda x: x[1])

In [26]:
del route_count_df['coordinates']
route_count_df.to_csv("route_coord_count.csv",index=False)

In [23]:
route_count_df.sort_values('count',ascending=0)

                     coordinates  count  longitude   latitude
1943822  (-73.973249, 40.739237)  43697 -73.973249  40.739237
1007570   (-73.980185, 40.71098)  37845 -73.980185  40.710980
1202218  (-73.974467, 40.722333)  35289 -73.974467  40.722333
1995723  (-73.957928, 40.761162)  28987 -73.957928  40.761162
1017185   (-73.97191, 40.743309)  28967 -73.971910  40.743309
1704593   (-73.972169, 40.72622)  28416 -73.972169  40.726220
787997   (-73.972049, 40.726193)  27728 -73.972049  40.726193
599257   (-73.973878, 40.731708)  26894 -73.973878  40.731708
157477   (-73.975683, 40.728454)  26387 -73.975683  40.728454
1272109  (-73.975064, 40.735925)  26268 -73.975064  40.735925
371356   (-73.958666, 40.741994)  26115 -73.958666  40.741994
322541   (-73.960059, 40.756935)  25086 -73.960059  40.756935
1724850  (-73.977839, 40.712347)  24854 -73.977839  40.712347
328509   (-73.997981, 40.708803)  24839 -73.997981  40.708803
1532194  (-73.976221, 40.765671)  24052 -73.976221  40.765671
351307    (-73.97755, 40.752237)  23957 -73.977550  40.752237
1891941  (-73.960408, 40.756384)  23864 -73.960408  40.756384
1464     (-73.900045, 40.757286)  23016 -73.900045  40.757286
1502806  (-73.971872, 40.729099)  22971 -73.971872  40.729099
303109    (-73.980147, 40.71087)  22946 -73.980147  40.710870
315292   (-73.965288, 40.777995)  22774 -73.965288  40.777995
1127925  (-73.938584, 40.738183)  22482 -73.938584  40.738183
1796738   (-73.972354, 40.74274)  22463 -73.972354  40.742740
1150975  (-73.968705, 40.748108)  21741 -73.968705  40.748108
775991   (-73.957761, 40.759913)  21727 -73.957761  40.759913
761968    (-73.954221, 40.76264)  21717 -73.954221  40.762640
1660384  (-73.973969, 40.731042)  21492 -73.973969  40.731042
629531   (-73.844033, 40.733901)  21479 -73.844033  40.733901
1275666  (-73.974352, 40.722276)  21437 -73.974352  40.722276
834540   (-73.983711, 40.785842)  21404 -73.983711  40.785842
...                          ...    ...        ...        ...
791905   (-73.980872, 40.784224)      1 -73.980872  40.784224
791904     (-73.99759, 40.71942)      1 -73.997590  40.719420
791903   (-73.998492, 40.755486)      1 -73.998492  40.755486
791932   (-73.948896, 40.828469)      1 -73.948896  40.828469
791936   (-73.960359, 40.780618)      1 -73.960359  40.780618
791971   (-74.006901, 40.732979)      1 -74.006901  40.732979
791951   (-73.977417, 40.761083)      1 -73.977417  40.761083
791970   (-73.987696, 40.674929)      1 -73.987696  40.674929
791968   (-74.005413, 40.740075)      1 -74.005413  40.740075
791965   (-73.952223, 40.786753)      1 -73.952223  40.786753
791964   (-73.986505, 40.750129)      1 -73.986505  40.750129
791962    (-73.974243, 40.75811)      1 -73.974243  40.758110
791961    (-74.00373, 40.736915)      1 -74.003730  40.736915
791960    (-73.98233, 40.690981)      1 -73.982330  40.690981
791959    (-73.96635, 40.760657)      1 -73.966350  40.760657
791955    (-73.98451, 40.759377)      1 -73.984510  40.759377
791953   (-73.987982, 40.738059)      1 -73.987982  40.738059
791950   (-73.998541, 40.728565)      1 -73.998541  40.728565
791937   (-73.989531, 40.752503)      1 -73.989531  40.752503
791948   (-73.931996, 40.705608)      1 -73.931996  40.705608
791947   (-73.953683, 40.775313)      1 -73.953683  40.775313
791946   (-73.989541, 40.745627)      1 -73.989541  40.745627
791945   (-73.990727, 40.723502)      1 -73.990727  40.723502
791944    (-73.972661, 40.74672)      1 -73.972661  40.746720
791943   (-73.963181, 40.674798)      1 -73.963181  40.674798
791942   (-74.005393, 40.709171)      1 -74.005393  40.709171
791941   (-73.979152, 40.752746)      1 -73.979152  40.752746
791940   (-73.970376, 40.752331)      1 -73.970376  40.752331
791939   (-73.994089, 40.766616)      1 -73.994089  40.766616
2043544    (-74.0146, 40.711349)      1 -74.014600  40.711349

[2043545 rows x 4 columns]

In [25]:
route_count_df

                     coordinates  count  longitude   latitude
0          (-73.9934, 40.753844)      1 -73.993400  40.753844
1        (-73.978132, 40.763033)      1 -73.978132  40.763033
2        (-73.954618, 40.782435)      1 -73.954618  40.782435
3        (-73.964732, 40.675853)      1 -73.964732  40.675853
4        (-74.180945, 40.687999)      1 -74.180945  40.687999
5        (-73.961678, 40.768276)      1 -73.961678  40.768276
6        (-73.995435, 40.739287)      1 -73.995435  40.739287
7        (-73.967054, 40.803862)      1 -73.967054  40.803862
8        (-73.993531, 40.739236)      1 -73.993531  40.739236
9        (-73.953457, 40.785061)      1 -73.953457  40.785061
10       (-73.937641, 40.749493)     21 -73.937641  40.749493
11        (-73.975501, 40.76273)      1 -73.975501  40.762730
12       (-73.991148, 40.733067)      3 -73.991148  40.733067
13       (-73.989665, 40.734347)      1 -73.989665  40.734347
14       (-73.981078, 40.742062)      1 -73.981078  40.742062
15       (-73.960193, 40.778967)      1 -73.960193  40.778967
16       (-73.982895, 40.744438)      1 -73.982895  40.744438
17       (-73.870825, 40.773694)      5 -73.870825  40.773694
18        (-73.99266, 40.733025)      1 -73.992660  40.733025
19       (-73.778584, 40.646802)      1 -73.778584  40.646802
20       (-73.987089, 40.775107)      1 -73.987089  40.775107
21       (-74.006738, 40.705643)      1 -74.006738  40.705643
22       (-73.948757, 40.785978)      1 -73.948757  40.785978
23       (-73.998085, 40.740749)      3 -73.998085  40.740749
24       (-73.996312, 40.733031)      1 -73.996312  40.733031
25       (-73.982206, 40.744959)      1 -73.982206  40.744959
26       (-73.960155, 40.766347)      1 -73.960155  40.766347
27       (-73.986615, 40.751388)      1 -73.986615  40.751388
28       (-73.979453, 40.755447)      3 -73.979453  40.755447
29       (-73.968612, 40.785022)      1 -73.968612  40.785022
...                          ...    ...        ...        ...
2043515   (-74.00118, 40.727653)      1 -74.001180  40.727653
2043516  (-73.986411, 40.777571)      1 -73.986411  40.777571
2043517  (-73.971464, 40.795385)      1 -73.971464  40.795385
2043518  (-73.874814, 40.774053)      1 -73.874814  40.774053
2043519  (-73.947508, 40.790558)      1 -73.947508  40.790558
2043520  (-73.962185, 40.709883)      1 -73.962185  40.709883
2043521   (-73.98293, 40.750679)      1 -73.982930  40.750679
2043522   (-73.80762, 40.818687)      1 -73.807620  40.818687
2043523  (-73.907697, 40.718957)      1 -73.907697  40.718957
2043524   (-73.946409, 40.81814)      1 -73.946409  40.818140
2043525  (-73.984097, 40.743391)      2 -73.984097  40.743391
2043526  (-73.842972, 40.721226)      1 -73.842972  40.721226
2043527  (-73.988387, 40.737503)      1 -73.988387  40.737503
2043528  (-73.935349, 40.827615)      3 -73.935349  40.827615
2043529   (-73.965956, 40.76242)      1 -73.965956  40.762420
2043530  (-74.004001, 40.725587)      1 -74.004001  40.725587
2043531  (-73.975144, 40.762581)      1 -73.975144  40.762581
2043532  (-73.973237, 40.763973)      7 -73.973237  40.763973
2043533  (-73.978681, 40.753623)      1 -73.978681  40.753623
2043534  (-73.988114, 40.701575)      1 -73.988114  40.701575
2043535   (-73.96425, 40.773406)      3 -73.964250  40.773406
2043536  (-73.995469, 40.731886)      1 -73.995469  40.731886
2043537  (-73.983166, 40.781639)      1 -73.983166  40.781639
2043538   (-73.992082, 40.76235)      1 -73.992082  40.762350
2043539  (-73.962856, 40.775319)      1 -73.962856  40.775319
2043540  (-73.981542, 40.778582)      2 -73.981542  40.778582
2043541  (-73.983194, 40.776473)      1 -73.983194  40.776473
2043542  (-73.939969, 40.797915)      1 -73.939969  40.797915
2043543   (-73.95312, 40.767716)      2 -73.953120  40.767716
2043544    (-74.0146, 40.711349)      1 -74.014600  40.711349

[2043545 rows x 4 columns]

AttributeError: 'tuple' object has no attribute 'split'