In [1]:
import pandas as pd

In [6]:
fr_test=pd.read_csv('fastest_routes_test.csv')
fr_train1=pd.read_csv('fastest_routes_train_part_1.csv')
fr_train2=pd.read_csv('fastest_routes_train_part_2.csv')
weather=pd.read_csv('weather_data_nyc_centralpark_2016.csv')
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
print(fr_test.shape)
print(fr_train1.shape)
print(fr_train2.shape)
print(weather.shape)
print(train.shape)
print(test.shape)

(625134, 12)
(700000, 12)
(758643, 12)
(366, 7)
(1458644, 11)
(625134, 9)

In [7]:
fr_train=pd.concat([fr_train1,fr_train2])
print(fr_train.shape)

(1458643, 12)

In [8]:
train.head(2)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663

In [9]:
full_train=pd.merge(train,fr_train,how="outer",on="id")
full_test=pd.merge(test,fr_test,how="outer",on="id")

In [19]:
full_train['pickup_date']=pd.to_datetime(full_train['pickup_datetime']).dt.date
full_test['pickup_date']=pd.to_datetime(full_test['pickup_datetime']).dt.date
weather['date']=pd.to_datetime(weather['date'],dayfirst=True).dt.date

In [20]:
full_train.head(2)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,...,total_distance,total_travel_time,number_of_steps,street_for_each_step,distance_per_step,travel_time_per_step,step_maneuvers,step_direction,step_location_list,pickup_date
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,...,2009.1,164.9,5.0,Columbus Circle|Central Park West|65th Street ...,0|576.4|885.6|547.1|0,0|61.1|60.1|43.7|0,depart|rotary|turn|new name|arrive,left|straight|right|straight|arrive,"-73.982316,40.767869|-73.981997,40.767688|-73....",2016-03-14
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,...,2513.2,332.0,6.0,2nd Avenue|East 13th Street|5th Avenue|Washing...,877.3|836.5|496.1|164.2|139.1|0,111.7|109|69.9|25.8|15.6|0,depart|turn|turn|end of road|continue|arrive,none|right|left|right|left|arrive,"-73.980429,40.73857|-73.985444,40.731658|-73.9...",2016-06-12

In [21]:
weather.head(2)

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
0,2016-01-01,42,34,38.0,0.00,0.0,0
1,2016-01-02,40,32,36.0,0.00,0.0,0

In [22]:
full_train1=pd.merge(full_train,weather,how="left",left_on='pickup_date',right_on='date')
full_test1=pd.merge(full_test,weather,how="left",left_on='pickup_date',right_on='date')

In [23]:
print(full_train1.shape)
print(full_test1.shape)

(1458644, 30)
(625134, 28)

In [24]:
full_train1.head(2)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,...,step_direction,step_location_list,pickup_date,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,...,left|straight|right|straight|arrive,"-73.982316,40.767869|-73.981997,40.767688|-73....",2016-03-14,2016-03-14,51,40,45.5,0.29,0.0,0
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,...,none|right|left|right|left|arrive,"-73.980429,40.73857|-73.985444,40.731658|-73.9...",2016-06-12,2016-06-12,83,62,72.5,0.00,0.0,0

In [25]:
full_train1.to_csv('full_train.csv',index=False)
full_test1.to_csv('full_test.csv',index=False)