In [25]:
import findspark
findspark.init('c:/spark')
from pyspark import SparkConf, SparkContext
import collections
import re
from pyspark.sql import SparkSession
from pyspark.sql import Row
import pandas as pd
import collections
from pyspark.ml.linalg import Vectors
from sklearn.cluster import MiniBatchKMeans, KMeans
import numpy as np

In [26]:
spark = SparkSession.builder.config("spark.sql.warehouse.dir", "C:/temp").appName("SparkSQL").getOrCreate()

In [27]:
inputLines = spark.sparkContext.textFile("test1.csv")
#inputLines = spark.sparkContext.textFile("train_full_parsed_clean5.1.csv")

In [28]:
header=inputLines.filter(lambda l: "_id" in l)

In [48]:
header.collect()

['log_duration,log_trip_duration,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,great_circle_distance,distance,speed_great_circle,hour_count,snow,holiday,vendor_id,pickup_hour_0,pickup_hour_1,pickup_hour_2,pickup_hour_3,pickup_hour_4,pickup_hour_5,pickup_hour_6,pickup_hour_7,pickup_hour_8,pickup_hour_9,pickup_hour_10,pickup_hour_11,pickup_hour_12,pickup_hour_13,pickup_hour_14,pickup_hour_15,pickup_hour_16,pickup_hour_17,pickup_hour_18,pickup_hour_19,pickup_hour_20,pickup_hour_21,pickup_hour_22,pickup_hour_23,pickup_weekday_0,pickup_weekday_1,pickup_weekday_2,pickup_weekday_3,pickup_weekday_4,pickup_weekday_5,pickup_weekday_6,pickup_month_1,pickup_month_2,pickup_month_3,pickup_month_4,pickup_month_5,pickup_month_6,passenger_count_0,passenger_count_1,passenger_count_2,passenger_count_3,passenger_count_4,passenger_count_5,passenger_count_6,passenger_count_7,route_cooridnates']

In [5]:
linesnoheader = inputLines.subtract(header)

In [50]:
linesnoheader.take(2)

['6.046426105181958,6.1224928095143865,-73.98215484619139,40.76793670654297,-73.96463012695312,40.765602111816406,1498.9429809955814,2008.2,11.85976864084416,1769,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,"[[-73.982316, 40.767869], [-73.982163, 40.767742], [-73.981921, 40.76768], [-73.981659, 40.767725], [-73.981479, 40.767854], [-73.981407, 40.768071], [-73.981552, 40.768428], [-73.981523, 40.768582], [-73.979193, 40.771782], [-73.978784, 40.771698], [-73.977952, 40.771794], [-73.977665, 40.771708], [-73.97391, 40.769391], [-73.973406, 40.769184], [-73.971555, 40.768635], [-73.970281, 40.768025], [-73.964608, 40.765631]]"',
 '6.376726947898628,6.498282149476434,-73.98041534423827,40.738563537597656,-73.99948120117188,40.73115158081055,1806.0158621526614,2514.5,9.80642097096468,3912,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,"[[-73.980421, 40.738566], [-73.984941, 40.732347], [-73.993607, 40.736013], [-73.996976, 40.731414], [-73.998612, 40.732215], [-73.999502, 40.731162]]"']

In [29]:
coord=pd.read_csv('newcounter.csv')
kmeans = MiniBatchKMeans(n_clusters=100, batch_size=10000,random_state=1234).fit(coord[['longitude','latitude']])
coord.loc[:, 'cluster'] = kmeans.predict(coord[['longitude','latitude']])

speed_cluster=pd.read_csv("hour_speed_cluster.csv")

In [30]:
cluster=coord['cluster'].tolist()

cluster_name=['C'+str(i) for i in range(100)]

In [31]:
def topcoordinates(line):
    coordinates=re.findall('(\[\-\d+\.\d+\,\s\d+\.\d+\])',line)

    line_cluster=[]
    for i in coordinates:
                temp=re.split('\[|, |\]',i)
                long=float(temp[1])
                lat=float(temp[2])
                cluster_group=kmeans.predict([[long,lat]])
                line_cluster+=[cluster_group[0]]

    line_cluster=list(set(line_cluster))
    feature=line.split(',')
    all_cluster=[ float(speed_cluster.loc[speed_cluster.hour_count==int(feature[9]) , 'C'+str(i)].values[0]) if i in line_cluster else np.nan for i in range(100)]





    feature1=[float(i) for i in feature[:58]]
    feature2=[int(i) for i in feature1[10:58]]
    feature3=feature1[:8]
    return feature3+feature2+all_cluster

In [63]:
line='6.376726947898628,6.498282149476434,-73.98041534423827,40.738563537597656,-73.99948120117188,40.73115158081055,1806.0158621526614,2514.5,9.80642097096468,3912,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,"[[-73.980421, 40.738566], [-73.984941, 40.732347], [-73.993607, 40.736013], [-73.996976, 40.731414], [-73.998612, 40.732215], [-73.999502, 40.731162]]"'
coordinates=re.findall('(\[\-\d+\.\d+\,\s\d+\.\d+\])',line)
    
line_cluster=[]
for i in coordinates:
            temp=re.split('\[|, |\]',i)
            long=float(temp[1])
            lat=float(temp[2])
            cluster_group=kmeans.predict([[long,lat]])
            line_cluster+=[cluster_group[0]]

line_cluster=list(set(line_cluster))
feature=line.split(',')
all_cluster=[ float(speed_cluster.loc[speed_cluster.hour_count==int(feature[9]) , 'C'+str(i)].values[0]) if i in line_cluster else np.nan for i in range(100)]
        
    
    
    

feature1=[float(i) for i in feature[:58]]
feature2=[int(i) for i in feature1[10:58]]
feature3=feature1[:8]

In [69]:
feature3

[6.376726947898628,
 6.498282149476434,
 -73.98041534423827,
 40.738563537597656,
 -73.99948120117188,
 40.73115158081055,
 1806.0158621526614,
 2514.5]

In [32]:
coord = linesnoheader.map(topcoordinates)

In [33]:
feature=['log_duration', 'log_trip_duration', 'pickup_longitude', 'pickup_latitude',
       'dropoff_longitude', 'dropoff_latitude', 'great_circle_distance','distance',
       'snow', 'holiday', 'vendor_id', 'pickup_hour_0',
       'pickup_hour_1', 'pickup_hour_2', 'pickup_hour_3', 'pickup_hour_4',
       'pickup_hour_5', 'pickup_hour_6', 'pickup_hour_7', 'pickup_hour_8',
       'pickup_hour_9', 'pickup_hour_10', 'pickup_hour_11',
       'pickup_hour_12', 'pickup_hour_13', 'pickup_hour_14',
       'pickup_hour_15', 'pickup_hour_16', 'pickup_hour_17',
       'pickup_hour_18', 'pickup_hour_19', 'pickup_hour_20',
       'pickup_hour_21', 'pickup_hour_22', 'pickup_hour_23',
       'pickup_weekday_0', 'pickup_weekday_1', 'pickup_weekday_2',
       'pickup_weekday_3', 'pickup_weekday_4', 'pickup_weekday_5',
       'pickup_weekday_6', 'pickup_month_1', 'pickup_month_2',
       'pickup_month_3', 'pickup_month_4', 'pickup_month_5',
       'pickup_month_6', 'passenger_count_0', 'passenger_count_1',
       'passenger_count_2', 'passenger_count_3', 'passenger_count_4',
       'passenger_count_5', 'passenger_count_6', 'passenger_count_7']
colNames=feature+cluster_name

In [39]:
colNames

['log_duration',
 'log_trip_duration',
 'pickup_longitude',
 'pickup_latitude',
 'dropoff_longitude',
 'dropoff_latitude',
 'great_circle_distance',
 'distance',
 'snow',
 'holiday',
 'vendor_id',
 'pickup_hour_0',
 'pickup_hour_1',
 'pickup_hour_2',
 'pickup_hour_3',
 'pickup_hour_4',
 'pickup_hour_5',
 'pickup_hour_6',
 'pickup_hour_7',
 'pickup_hour_8',
 'pickup_hour_9',
 'pickup_hour_10',
 'pickup_hour_11',
 'pickup_hour_12',
 'pickup_hour_13',
 'pickup_hour_14',
 'pickup_hour_15',
 'pickup_hour_16',
 'pickup_hour_17',
 'pickup_hour_18',
 'pickup_hour_19',
 'pickup_hour_20',
 'pickup_hour_21',
 'pickup_hour_22',
 'pickup_hour_23',
 'pickup_weekday_0',
 'pickup_weekday_1',
 'pickup_weekday_2',
 'pickup_weekday_3',
 'pickup_weekday_4',
 'pickup_weekday_5',
 'pickup_weekday_6',
 'pickup_month_1',
 'pickup_month_2',
 'pickup_month_3',
 'pickup_month_4',
 'pickup_month_5',
 'pickup_month_6',
 'passenger_count_0',
 'passenger_count_1',
 'passenger_count_2',
 'passenger_count_3',
 'passenger_count_4',
 'passenger_count_5',
 'passenger_count_6',
 'passenger_count_7',
 'C0',
 'C1',
 'C2',
 'C3',
 'C4',
 'C5',
 'C6',
 'C7',
 'C8',
 'C9',
 'C10',
 'C11',
 'C12',
 'C13',
 'C14',
 'C15',
 'C16',
 'C17',
 'C18',
 'C19',
 'C20',
 'C21',
 'C22',
 'C23',
 'C24',
 'C25',
 'C26',
 'C27',
 'C28',
 'C29',
 'C30',
 'C31',
 'C32',
 'C33',
 'C34',
 'C35',
 'C36',
 'C37',
 'C38',
 'C39',
 'C40',
 'C41',
 'C42',
 'C43',
 'C44',
 'C45',
 'C46',
 'C47',
 'C48',
 'C49',
 'C50',
 'C51',
 'C52',
 'C53',
 'C54',
 'C55',
 'C56',
 'C57',
 'C58',
 'C59',
 'C60',
 'C61',
 'C62',
 'C63',
 'C64',
 'C65',
 'C66',
 'C67',
 'C68',
 'C69',
 'C70',
 'C71',
 'C72',
 'C73',
 'C74',
 'C75',
 'C76',
 'C77',
 'C78',
 'C79',
 'C80',
 'C81',
 'C82',
 'C83',
 'C84',
 'C85',
 'C86',
 'C87',
 'C88',
 'C89',
 'C90',
 'C91',
 'C92',
 'C93',
 'C94',
 'C95',
 'C96',
 'C97',
 'C98',
 'C99']

In [24]:
train = coord.toDF(colNames)

KeyboardInterrupt:

In [ ]:
train.write.csv("train_full_parsed_clean5.csv",header = 'true')

In [ ]:
train.repartition(1).write.format('com.databricks.spark.csv').save('csv_cluster.csv',header = 'true')

In [73]:
train.repartition(1).write.parquet('parquet_cluster_40_files_v2')

In [35]:
df=pd.read_csv("train_full_parsed_clean5.1.csv")

In [75]:
#df=df.loc[:100,]

In [34]:
#df.loc[:1000,].to_csv("test1.csv",index=False)

In [41]:
i=0
def finderror(start,end,df,colNames,topcoordinates):
    global i;
    print("start: "+str(start)+" end: "+str(end))
    df.loc[start:end,].to_csv("test1.csv",index=False)
    inputLines = spark.sparkContext.textFile("test1.csv")
    header=inputLines.filter(lambda l: "_id" in l)
    linesnoheader = inputLines.subtract(header)
    try:
        coord = linesnoheader.map(topcoordinates)
        train = coord.toDF(colNames)
    
        train.repartition(1).write.csv(str(i),header='true')
        print("good")
        i+=1
        return 0
    except:
        print("error in "+str(start)+" to "+str(end))
        i+=1
        return 1

In [42]:
start=0
end=df.shape[0]
end=20

mid=729321
mid=10

while True:
    result=finderror(start,mid,df,colNames,topcoordinates)
    if result==1:
        end=mid;
        mid=int(np.floor((start+mid)/2))
    elif result==0:
        start=mid;
        mid=int(np.floor((end+mid)/2))
    if mid-start==0:
        print("end: "+str(mid)+" start "+str(start)+" so breaks")
        break

start: 0 end: 10
good
start: 10 end: 15
good
start: 15 end: 17
good
start: 17 end: 18
good
start: 18 end: 19
good
end: 19 start 19 so breaks

In [20]:
a[0:1]

[1]

In [ ]:
df

,log_duration,log_trip_duration,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,great_circle_distance,distance,speed_great_circle,hour_count,...,pickup_month_6,passenger_count_0,passenger_count_1,passenger_count_2,passenger_count_3,passenger_count_4,passenger_count_5,passenger_count_6,passenger_count_7,route_cooridnates
0,6.046426,6.122493,-73.982155,40.767937,-73.964630,40.765602,1498.942981,2008.2,11.859769,1769,...,0,0,1,0,0,0,0,0,0,"[[-73.982316, 40.767869], [-73.982163, 40.7677..."
1,6.376727,6.498282,-73.980415,40.738564,-73.999481,40.731152,1806.015862,2514.5,9.806421,3912,...,1,0,1,0,0,0,0,0,0,"[[-73.980421, 40.738566], [-73.984941, 40.7323..."
2,7.156177,7.661527,-73.979027,40.763939,-74.005333,40.710087,6386.897467,11060.5,10.825250,443,...,0,0,1,0,0,0,0,0,0,"[[-73.978874, 40.764148], [-73.977685, 40.7636..."
3,6.137079,6.063785,-74.010040,40.719971,-74.012268,40.706718,1485.916955,1819.5,12.469233,2323,...,0,0,1,0,0,0,0,0,0,"[[-74.010145, 40.719982], [-74.011102, 40.7155..."
4,5.861925,6.077642,-73.973053,40.793209,-73.972923,40.782520,1188.923339,1614.9,9.839366,2053,...,0,0,1,0,0,0,0,0,0,"[[-73.972998, 40.793187], [-73.976607, 40.7883..."
5,6.081305,6.095825,-73.982857,40.742195,-73.992081,40.749184,1099.252081,1395.4,8.932974,718,...,0,0,0,0,0,0,0,1,0,"[[-73.982805, 40.742173], [-73.982914, 40.7420..."
6,5.922114,5.834811,-73.969017,40.757839,-73.957405,40.765896,1326.652250,1703.2,14.005713,4054,...,1,0,0,0,0,1,0,0,0,"[[-73.969209, 40.757919], [-73.963843, 40.7653..."
7,7.410831,7.347300,-73.969276,40.797779,-73.922470,40.760559,5716.590800,19652.8,13.268683,3391,...,0,0,1,0,0,0,0,0,0,"[[-73.96929, 40.79776], [-73.971919, 40.79471]..."
8,5.768633,5.545177,-73.999481,40.738400,-73.985786,40.732815,1310.722469,1310.7,18.504317,3551,...,0,0,1,0,0,0,0,0,0,"[[-73.999444, 40.738451], [-73.985848, 40.73273]]"
9,7.368592,7.111512,-73.981049,40.744339,-73.973000,40.789989,5122.604426,11045.6,15.054184,1677,...,0,0,1,0,0,0,0,0,0,"[[-73.981184, 40.744396], [-73.981561, 40.7438..."
10,6.801950,7.150701,-73.982651,40.763840,-74.002228,40.732990,3807.211757,3935.0,10.758212,3142,...,0,0,1,0,0,0,0,0,0,"[[-73.982587, 40.763821], [-73.983222, 40.7626..."
11,7.197585,7.029088,-73.991531,40.749439,-73.956543,40.770630,3774.158991,7305.4,12.045188,3251,...,0,0,0,0,0,1,0,0,0,"[[-73.991705, 40.749512], [-73.992463, 40.7484..."
12,6.481271,7.016610,-73.962982,40.756680,-73.984406,40.760719,1860.006921,2276.6,6.010794,1185,...,0,0,0,1,0,0,0,0,0,"[[-73.963008, 40.756644], [-73.966232, 40.7580..."
13,5.795450,5.564520,-73.956306,40.767941,-73.966110,40.763000,991.964253,1337.9,13.734890,3668,...,1,0,1,0,0,0,0,0,0,"[[-73.95631, 40.767936], [-73.958363, 40.76880..."
14,7.362011,7.254885,-73.992195,40.727226,-73.974655,40.783070,6384.634091,9924.6,16.255080,3528,...,0,0,1,0,0,0,0,0,0,"[[-73.992086, 40.727356], [-73.991545, 40.7270..."
15,5.281171,5.356586,-73.955513,40.768593,-73.948761,40.771545,656.763014,897.7,11.205435,3279,...,0,0,1,0,0,0,0,0,0,"[[-73.955444, 40.768564], [-73.95219, 40.77301..."
16,7.059961,7.748029,-73.991165,40.755562,-73.999290,40.725353,3429.051809,4545.7,5.330132,2441,...,0,0,1,0,0,0,0,0,0,"[[-73.991045, 40.755512], [-73.990728, 40.7559..."
17,6.667847,6.595781,-73.994255,40.745804,-73.999657,40.723343,2539.387077,3143.7,12.505873,2504,...,0,0,1,0,0,0,0,0,0,"[[-73.994372, 40.745852], [-74.001095, 40.7365..."
18,7.019207,7.183871,-74.003983,40.713013,-73.979195,40.749924,4606.498570,8234.7,12.591796,4281,...,1,0,1,0,0,0,0,0,0,"[[-74.004094, 40.713035], [-74.002136, 40.7151..."
19,5.528635,5.529429,-73.983887,40.738197,-73.991203,40.727871,1303.638408,1330.4,18.697603,3757,...,1,0,1,0,0,0,0,0,0,"[[-73.98385, 40.738247], [-73.983638, 40.73815..."
20,7.003611,6.188264,-73.980370,40.742420,-73.962852,40.760635,2506.632227,7694.0,18.567646,1394,...,0,0,1,0,0,0,0,0,0,"[[-73.980493, 40.742471], [-73.977146, 40.7469..."
21,6.773080,6.481577,-73.979538,40.753361,-73.963997,40.763458,1725.035990,3738.3,9.524739,2196,...,0,0,1,0,0,0,0,0,0,"[[-73.979295, 40.753695], [-73.980395, 40.7541..."
22,6.509216,6.049733,-73.995865,40.758812,-73.993324,40.740322,2067.667258,3432.8,17.597168,2379,...,0,0,1,0,0,0,0,0,0,"[[-73.99579, 40.758921], [-73.998804, 40.76014..."
23,7.058328,7.059618,-73.993553,40.747173,-74.006142,40.704384,4876.165810,9007.3,15.093892,4234,...,1,0,1,0,0,0,0,0,0,"[[-73.993442, 40.747126], [-73.995645, 40.7440..."
24,7.694803,7.818430,-73.955231,40.777134,-73.788750,40.641472,20608.379697,30093.9,29.855198,3704,...,1,0,1,0,0,0,0,0,0,"[[-73.955218, 40.777129], [-73.949331, 40.7851..."
25,6.529711,7.157735,-73.956581,40.771358,-73.974968,40.732792,4560.809561,5428.4,12.797283,1069,...,0,0,1,0,0,0,0,0,0,"[[-73.956519, 40.771332], [-73.957414, 40.7701..."
26,7.367835,7.030857,-73.983765,40.749874,-73.958832,40.800961,6057.815772,13668.7,19.299236,1389,...,0,0,1,0,0,0,0,0,0,"[[-73.983815, 40.749806], [-73.971236, 40.7445..."
27,6.774909,6.543912,-73.958435,40.713192,-73.949539,40.680252,3739.795476,4113.7,19.399515,4127,...,1,0,1,0,0,0,0,0,0,"[[-73.958418, 40.713186], [-73.955476, 40.7122..."
28,5.602488,6.794587,-73.994217,40.713306,-73.982849,40.692299,2525.560568,2526.4,10.192845,3957,...,1,0,1,0,0,0,0,0,0,"[[-73.994154, 40.713326], [-73.98629, 40.69926..."
29,7.512781,7.754482,-73.982117,40.756351,-73.865692,40.770988,9942.243275,19228.1,15.354816,1982,...,0,0,1,0,0,0,0,0,0,"[[-73.982022, 40.75648], [-73.982712, 40.75677..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458613,6.015181,5.826000,-73.980927,40.767651,-73.965302,40.765251,1343.037833,1678.0,14.304545,929,...,0,0,1,0,0,0,0,0,0,"[[-73.980922, 40.767658], [-73.969681, 40.7628..."
1458614,6.681983,6.754604,-73.991013,40.728321,-73.966766,40.711548,2767.349949,5002.5,11.624807,857,...,0,0,1,0,0,0,0,0,0,"[[-73.990941, 40.728423], [-73.991157, 40.7286..."
1458615,5.828651,6.192362,-73.988327,40.732147,-73.999641,40.734192,980.348088,1242.2,7.232076,2705,...,0,0,1,0,0,0,0,0,0,"[[-73.988388, 40.732064], [-73.98815, 40.73196..."
1458616,5.257495,5.342334,-73.975433,40.752411,-73.973122,40.746780,655.852383,903.6,11.351291,2528,...,0,0,1,0,0,0,0,0,0,"[[-73.975364, 40.752382], [-73.976025, 40.7514..."
1458617,6.118097,5.908083,-73.987564,40.733387,-74.001129,40.731056,1172.336080,1832.9,11.499754,2569,...,0,0,1,0,0,0,0,0,0,"[[-73.987526, 40.733438], [-73.987182, 40.7332..."
1458618,6.536112,6.563856,-73.954773,40.777882,-73.980904,40.782516,2260.371173,3009.2,11.493413,2724,...,0,0,1,0,0,0,0,0,0,"[[-73.954692, 40.777848], [-73.954481, 40.7781..."
1458619,7.147245,7.058758,-73.966324,40.758072,-74.006516,40.736641,4141.483647,5576.2,12.830758,2852,...,0,0,1,0,0,0,0,0,0,"[[-73.966331, 40.758063], [-73.971811, 40.7603..."
1458620,7.046125,7.764721,-73.959534,40.782749,-73.990959,40.751091,4405.341929,5177.0,6.734281,3110,...,0,0,1,0,0,0,0,0,0,"[[-73.959532, 40.782748], [-73.967039, 40.7724..."
1458621,5.746523,6.315358,-74.008408,40.721142,-74.000557,40.723911,729.956686,1184.6,4.760587,1194,...,0,0,1,0,0,0,0,0,0,"[[-74.008378, 40.721139], [-74.00801, 40.72328..."
1458622,6.412311,6.318968,-73.991081,40.737408,-73.987671,40.722622,1669.497035,2599.9,10.848717,428,...,0,0,1,0,0,0,0,0,0,"[[-73.991069, 40.737424], [-73.992225, 40.7379..."
1458623,5.161352,5.030438,-73.974693,40.756088,-73.969971,40.762115,779.565451,805.4,18.463392,1447,...,0,0,1,0,0,0,0,0,0,"[[-73.974678, 40.756081], [-73.970143, 40.7622..."
1458624,6.792793,7.602401,-73.989655,40.740612,-73.961029,40.765366,3660.282054,5578.4,6.581926,593,...,0,0,1,0,0,0,0,0,0,"[[-73.989602, 40.740685], [-73.986793, 40.7394..."
1458625,5.643679,5.501258,-73.954071,40.767021,-73.950340,40.778233,1285.988804,1567.5,18.973605,401,...,0,0,0,1,0,0,0,0,0,"[[-73.954085, 40.767001], [-73.955999, 40.7678..."
1458626,6.363718,6.781058,-73.981651,40.767708,-73.959183,40.777412,2178.758804,3085.9,8.913104,4186,...,1,0,0,0,0,0,1,0,0,"[[-73.981661, 40.767724], [-73.981412, 40.7679..."
1458627,5.963322,5.863631,-73.988632,40.721378,-73.975548,40.728519,1359.160534,1752.3,13.940108,3603,...,0,0,0,1,0,0,0,0,0,"[[-73.988569, 40.721359], [-73.987909, 40.7226..."
1458628,6.263017,6.400257,-73.959618,40.808941,-73.947922,40.830189,2560.170546,3433.9,15.335464,4210,...,1,0,1,0,0,0,0,0,0,"[[-73.959521, 40.8089], [-73.959206, 40.809331..."
1458629,6.037632,6.309918,-73.991508,40.727135,-73.988136,40.740932,1560.768637,1962.2,10.234548,4227,...,1,0,0,0,0,0,1,0,0,"[[-73.99153, 40.727139], [-73.991255, 40.72777..."
1458630,5.996949,5.837730,-73.958946,40.763725,-73.953156,40.780003,1875.020760,2263.0,19.737061,3239,...,0,0,0,0,1,0,0,0,0,"[[-73.958969, 40.763735], [-73.955999, 40.7678..."
1458631,6.628306,6.656727,-74.015572,40.710892,-73.996620,40.743633,3976.663313,5145.4,18.424695,1571,...,0,0,0,1,0,0,0,0,0,"[[-74.016028, 40.710992], [-74.015809, 40.7115..."
1458632,6.900932,6.887553,-73.979652,40.735279,-73.995522,40.759754,3032.965611,4756.8,11.152887,1843,...,0,0,0,0,1,0,0,0,0,"[[-73.979669, 40.735287], [-73.978514, 40.7368..."
1458633,7.108080,6.880384,-73.989075,40.730465,-73.963882,40.773739,5260.470632,7679.4,19.483225,2245,...,0,0,0,1,0,0,0,0,0,"[[-73.989203, 40.730519], [-73.987182, 40.7332..."
1458634,5.208940,5.472271,-73.985390,40.763020,-73.989708,40.767502,617.155656,807.1,9.374516,3350,...,0,0,1,0,0,0,0,0,0,"[[-73.98553, 40.763078], [-73.984741, 40.76416..."
1458635,6.345812,6.685861,-73.863815,40.769684,-73.864395,40.761326,930.911621,4512.3,4.189102,1018,...,0,0,1,0,0,0,0,0,0,"[[-73.863915, 40.769654], [-73.865999, 40.7711..."
1458636,6.864430,6.634633,-73.975357,40.751705,-73.949478,40.776764,3538.551696,6721.1,16.761561,2586,...,0,0,1,0,0,0,0,0,0,"[[-73.975174, 40.751955], [-73.975558, 40.7521..."
1458637,6.676075,6.028279,-73.988823,40.736553,-73.989166,40.757393,2318.101341,3190.5,20.157403,768,...,0,0,0,0,0,0,1,0,0,"[[-73.9889, 40.736584], [-73.979861, 40.74895]..."
1458638,6.265111,6.658011,-73.982201,40.745522,-73.994911,40.740170,1225.425272,2236.8,5.670348,2365,...,0,0,0,0,0,1,0,0,0,"[[-73.98236, 40.745588], [-73.982216, 40.74578..."
1458639,6.854144,6.486161,-74.000946,40.747379,-73.970184,40.796547,6051.540093,7638.0,33.260373,223,...,0,0,1,0,0,0,0,0,0,"[[-74.000782, 40.74731], [-74.001369, 40.74650..."
1458640,6.850550,6.639876,-73.959129,40.768799,-74.004433,40.707371,7826.810322,10333.8,36.880258,2694,...,0,0,1,0,0,0,0,0,0,"[[-73.958946, 40.769048], [-73.955999, 40.7678..."
1458641,6.189085,5.924256,-73.982079,40.749062,-73.974632,40.757107,1092.871717,1705.5,10.547824,111,...,0,0,1,0,0,0,0,0,0,"[[-73.982073, 40.749071], [-73.982024, 40.7490..."
1458642,5.359883,5.293305,-73.979538,40.781750,-73.972809,40.790585,1134.361473,1134.2,20.624754,2294,...,0,0,1,0,0,0,0,0,0,"[[-73.979388, 40.781687], [-73.972873, 40.7906..."

----------------------------------------
Exception happened during processing of request from ('127.0.0.1', 54982)
----------------------------------------

Traceback (most recent call last):
  File "C:\Users\TANGP05\AppData\Local\Continuum\Anaconda3\lib\socketserver.py", line 313, in _handle_request_noblock
    self.process_request(request, client_address)
  File "C:\Users\TANGP05\AppData\Local\Continuum\Anaconda3\lib\socketserver.py", line 341, in process_request
    self.finish_request(request, client_address)
  File "C:\Users\TANGP05\AppData\Local\Continuum\Anaconda3\lib\socketserver.py", line 354, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "C:\Users\TANGP05\AppData\Local\Continuum\Anaconda3\lib\socketserver.py", line 681, in __init__
    self.handle()
  File "c:/spark\python\pyspark\accumulators.py", line 235, in handle
    num_updates = read_int(self.rfile)
  File "c:/spark\python\pyspark\serializers.py", line 579, in read_int
    length = stream.read(4)
  File "C:\Users\TANGP05\AppData\Local\Continuum\Anaconda3\lib\socket.py", line 575, in readinto
    return self._sock.recv_into(b)
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:54918)
Traceback (most recent call last):
  File "c:\spark\python\lib\py4j-0.10.4-src.zip\py4j\java_gateway.py", line 1021, in send_command
    self.socket.sendall(command.encode("utf-8"))
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\spark\python\lib\py4j-0.10.4-src.zip\py4j\java_gateway.py", line 883, in send_command
    response = connection.send_command(command)
  File "c:\spark\python\lib\py4j-0.10.4-src.zip\py4j\java_gateway.py", line 1025, in send_command
    "Error while sending", e, proto.ERROR_ON_SEND)
py4j.protocol.Py4JNetworkError: Error while sending

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\spark\python\lib\py4j-0.10.4-src.zip\py4j\java_gateway.py", line 827, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\spark\python\lib\py4j-0.10.4-src.zip\py4j\java_gateway.py", line 963, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:54918)
Traceback (most recent call last):
  File "c:\spark\python\lib\py4j-0.10.4-src.zip\py4j\java_gateway.py", line 827, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\spark\python\lib\py4j-0.10.4-src.zip\py4j\java_gateway.py", line 963, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:54918)
Traceback (most recent call last):
  File "c:\spark\python\lib\py4j-0.10.4-src.zip\py4j\java_gateway.py", line 827, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\spark\python\lib\py4j-0.10.4-src.zip\py4j\java_gateway.py", line 963, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it